{% extends "base.html" %}

{% block head %}
    <title> LED Matrix | Admin Dashboard </title>
{% endblock head %}


{% block main_content %}

	<section class="main-section-content mt-4">
		<div class="row">

			
			<div class="col-lg-3 order-1 order-lg-1">

				<div class="container sticky-top">

					<h4 class="text-center ">Select Option</h4>
					<div class="card  flex-column " id="admin-options-list" role="tablist" aria-orientation="vertical">
					
  						<!--<div class="card-header text-center new-sketch">
    						New Sketch <i class="fas fa-plus"></i>
  						</div> -->

  						<ul class="list-group list-group-flush" id="admin-options-list">
						  	
							<li class="list-group-item active" id="currently-showing-tab" data-toggle="tab" href="#currently-showing" role="tab" aria-controls="currently-showing" aria-selected="true">
                                <div class="nav-link d-flex align-items-center" >
                                    <p class="flex-grow-1" id="sketch-name">Currently Showing</p>
                                    <span class="badge badge-primary" id="currently-showing-count">{{ currently_showing|length }}</span>
                                </div>
                            </li>

                            <li class="list-group-item" id="new-submissions-tab" data-toggle="tab" href="#new-submissions" role="tab" aria-controls="new-submissions" aria-selected="false">

						  		<!--<a class="nav-link" id="new-submissions-tab" data-toggle="pill" href="#new-submissions" role="tab" aria-controls="new-submissions" aria-selected="false"> -->
                                    <div class="nav-link d-flex align-items-center" >
                                	    <p class="flex-grow-1" id="sketch-name">New Submissions</p>
                                        <span class="badge badge-primary" id="new-submission-count">{{ new_submissions|length }}</span>
                            	    </div>
                                <!--</a> -->

							</li>

                            <li class="list-group-item" id="submissions-history-tab" data-toggle="tab" href="#submissions-history" role="tab" aria-controls="submissions-history" aria-selected="false">
						  		
                                <div class="nav-link d-flex align-items-center" >
                                	<p class="flex-grow-1" id="sketch-name">Submissions History</p>
                                	<span class="badge badge-primary">{{ submissions_history|length }}</span>
                            	</div>

							</li>

                            <li class="list-group-item" id="registerd-users-tab" data-toggle="tab" href="#registerd-users" role="tab" aria-controls="registerd-users" aria-selected="false">
						  		
                                <div  class="nav-link d-flex align-items-center" >
                                	<p class="flex-grow-1" id="sketch-name">Registerd Users</p>
                                    {% if  users|length > 0%}
                                        <span class="badge badge-primary">{{ users|length }}</span>
                                    {% endif %}	
                                	
                            	</div>

							</li>

                            <li class="list-group-item" id="prefrences-tab" data-toggle="tab" href="#prefrences" role="tab" aria-controls="prefrences" aria-selected="false">
                                
                                <div class="nav-link d-flex align-items-center" >
                                    <p class="flex-grow-1" id="sketch-name">Prefrences</p>
                                </div>
                            
                            </li>

  						</ul>

					</div>

				</div>

			</div>



            <div class="col-lg-6 order-2 order-lg-2">

                
                <div class="tab-content" >
                    
                    <div class="container tab-pane fade show active" id="currently-showing" role="tabpanel" aria-labelledby="currently-showing-tab">
                        
                        <h3 class="text-center ">Currently Showing</h3>
					    <div class="card " >
				
  						    <ul class="list-group list-group-flush">
						  	
                              {% for showing in currently_showing %}
                              
                              
							    <li class="list-group-item">

                                    
                                    <div class="d-flex align-items-center">

                                        <div class="flex-grow-1">
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">User:</i> {{ showing.submission.drawing.user.username }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Drawing name:</i> {{ showing.submission.drawing.drawing_name }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Date:</i> {{ showing.submission.submission_datetime.date }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Time:</i> {{ showing.submission.submission_datetime.time }}</p>
                                        </div>
                                        
                                        
                                        <form method="GET" class="get-user-drawing-form-curr-showing" data-handle-fetch-drawing-url="{% url "fetch_drawing_admin_dash" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ showing.submission.id }}">
                                            <button type="submit" class=" btn btn-primary btn-sm">View Drawing</button>
                                        </form>
                                        <form method="POST" class="remove-from-showing-list" data-handle-remove-from-show-list-url="{% url "remove_from_showing_list" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ showing.submission.id }}">
                                            <button type="submit" class=" btn btn-danger btn-sm">Stop Showing</button>
                                        </form>
        
                                    </div>

                                </li>
                                {% endfor %}

                                

  						    </ul>

					    </div>
                    </div>


                    <div class="container tab-pane fade" id="new-submissions" role="tabpanel" aria-labelledby="new-submissions-tab">
                        
                        
                        <h3 class="text-center ">New Submissions</h3>
					    <div class="card " >
				
  						    <ul class="list-group list-group-flush">
						  	
                              {% for new_submission in new_submissions %}
                              
                              
							    <li class="list-group-item">
                                    
                                    <div class="d-flex align-items-center">

                                        <div class="flex-grow-1">
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">User:</i> {{ new_submission.submission.drawing.user.username }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Drawing name:</i> {{ new_submission.submission.drawing.drawing_name }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Date:</i> {{ new_submission.submission.submission_datetime.date }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Time:</i> {{ new_submission.submission.submission_datetime.time }}</p>
                                        </div>
                                        
                                        
                                        <form method="GET" class="get-user-drawing-form-new-subs" data-handle-fetch-drawing-url="{% url "fetch_drawing_admin_dash" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ new_submission.submission.id }}">
                                            <button type="submit" class=" btn btn-primary btn-sm">View Drawing</button>
                                        </form>
                                        <form method="POST" class="send-to-showing-list-new-subs" data-handle-send-to-show-list-url="{% url "add_to_curr_showing_list" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ new_submission.submission.id }}">
                                            <button type="submit" class=" btn btn-success btn-sm">Send to LED matrix</button>
                                        </form>
                                    </div>

                                </li>
                                {% endfor %}


  						    </ul>

					    </div>
                        
                    
                    </div>


                    <div class="container tab-pane fade" id="submissions-history" role="tabpanel" aria-labelledby="submissions-history-tab">
                        
                        
                        <h3 class="text-center ">Submissions History</h3>
					    <div class="card " >
				
  						    <ul class="list-group list-group-flush">
						  	
                                {% for submission in submissions_history %}
                                
                                
							    <li class="list-group-item">
                                    
                                    <div class="d-flex align-items-center">

                                        <div class="flex-grow-1">
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">User:</i> {{ submission.drawing.user.username }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Drawing name:</i> {{ submission.drawing.drawing_name }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Date:</i> {{ submission.submission_datetime.date }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submission Time:</i> {{ submission.submission_datetime.time }}</p>
                                        </div>
                                        
                                        <form method="GET" class="get-user-drawing-form-sub-his" data-handle-fetch-drawing-url="{% url "fetch_drawing_admin_dash" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ submission.id }}">
                                            <button type="submit" class=" btn btn-primary btn-sm">View Drawing</button>
                                        </form>

                                        <form method="POST" class="send-to-showing-list-sub-his" data-handle-send-to-show-list-url="{% url "add_to_curr_showing_list" %}" >
										    {% csrf_token %}
										    <input type="hidden" name="submission" value="{{ submission.id }}">
                                            <button type="submit" class=" btn btn-success btn-sm">Send to LED matrix</button>
                                        </form>
                                    </div>

                                </li>
                                {% endfor %}


  						    </ul>

					    </div>
                        
                    
                    </div>
                    


                    <div class="container tab-pane fade" id="registerd-users" role="tabpanel" aria-labelledby="registerd-users-tab">
                        
                        
                        <h3 class="text-center ">Registerd Users</h3>
					    <div class="card " >
				
  						    <ul class="list-group list-group-flush">
						  	
                                {% for user in users %}
                                
                                
							    <li class="list-group-item">
                                    
                                    <div class="d-flex align-items-center">

                                        <div class="flex-grow-1">
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Full Name:</i> {{ user.0.first_name }} {{ user.0.last_name}}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Username:</i> {{ user.0.username }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Joined:</i> {{user.0.date_joined.date }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Submissions:</i> {{ user.0.userprofile.number_submissions }}</p>
                                            <p class="mb-0" id="sketch-name"><i class="text-muted">Accepted Submissions:</i> {{ user.0.userprofile.number_accepted_submissions }}</p>
                                            {% if user.1 %}
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">Account Type:</i> Administrator</p>
                                            {% else %}
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">Account Type:</i> Standard User</p>
                                            {% endif %}
                                        </div>
                                        
                                        {% if not user.1 %}
                                            <button type="button" class=" btn btn-primary btn-sm">Block</button>
                                            <button type="button" class=" btn btn-danger btn-sm">Remove User</button>
                                        {% endif %}
                                        
                                    </div>

                                </li>
                                {% endfor %}


  						    </ul>

					    </div>
                        
                    
                    </div>


                    <div class="container tab-pane fade" id="prefrences" role="tabpanel" aria-labelledby="prefrences-tab">
                        
                        
                        <h3 class="text-center mt-2">Prefrences</h3>
                        
                        <form method="POST" id="matrix-settings-form" data-update-matrix-settings-url="{% url "update_matrix_settings" %}">
                            {% csrf_token %}
                            <div class="card " >
                                
                                <ul class="list-group list-group-flush">
                                
                                    <li class="list-group-item">
                                        
                                        <div class="d-flex align-items-center">

                                            <div class="flex-grow-1">
                                                <p class="mb-0" id="sketch-name">Disable/Enable LED Matrix</p>
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">Students can still submit drawing but will stop showing all drawings in the rotation until enabled again</i></p>
                                            </div>
                                            
                                            
                                            <!--<button type="button" class=" btn btn-primary btn-sm">Toggle</button>-->
                                            {{matrix_settings_form.led_matrix_on}}

                                        </div>

                                    </li>

                                    <li class="list-group-item">
                                        
                                        <div class="d-flex align-items-center">

                                            <div class="flex-grow-1">
                                                <p class="mb-0" id="sketch-name">Currently Showing Limit</p>
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">The maximum number of drawings you want to have in roatation at once</i></p>
                                            </div>
                                            
                                            
                                            <!--<input type="number" name="showing-limit" placeholder="Enter a limit">-->
                                            {{ matrix_settings_form.currently_showing_limit }}
                                        </div>

                                    </li>


                                    <li class="list-group-item">
                                        
                                        <div class="d-flex align-items-center">

                                            <div class="flex-grow-1">
                                                <p class="mb-0" id="sketch-name">Delay Detween Drawings (in seconds)</p>
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">The amount of time (in seconds) you want to wait before showing the next drawing in the rotation, the minimum is 3 seconds.</i></p>
                                            </div>
                                            
                                            
                                            <!--<input type="number" name="drawing-delay" placeholder="Enter a number in seconds">-->
                                            {{ matrix_settings_form.time_between_drawings }}
                                        </div>

                                    </li>

                                    <li class="list-group-item">
                                        
                                        <div class="d-flex align-items-center">

                                            <div class="flex-grow-1">
                                                <p class="mb-0" id="sketch-name">Enable/Disable Matrix Start and End Time </p>
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">The time you want the matrix to start and end the rotation each day.</i></p>
                                            </div>
                                            
                                            
                                            <div>
                                                {{ matrix_settings_form.led_on_off_time_enabled }}
                                                <div class="d-none" id="start-end-time-inputs-div">
                                                    <p class="mb-0">Start Time</p>
                                                    {{ matrix_settings_form.led_matrix_on_time}}

                                                    <p class=" mt-1 mb-0">End Time</p>
                                                    {{ matrix_settings_form.led_matrix_off_time}}
                                                </div>
                                            </div>
                                        </div>

                                    </li>

                                    <li class="list-group-item">
                                        
                                        <div class="d-flex align-items-center">

                                            <div class="flex-grow-1">
                                                <p class="mb-0" id="sketch-name">Default Drawing</p>
                                                <p class="mb-0" id="sketch-name"><i class="text-muted">The default drawing that the matrix will have when it is disabled.</i></p>
                                            </div>
                                            
                                            
                                            <button type="button" class=" btn btn-primary btn-sm">Select</button>
                                        </div>

                                    </li>


                                </ul>

                            </div>

                            <button type="submit" class="btn btn-primary float-right">Save Changes</button>
                        </form>

                        <form method="POST" id="reset-defaults-form" data-update-matrix-settings-url="{% url "update_matrix_settings" %}">
                            {% csrf_token %}
                            <input type="hidden" name="reset-default" value="True">
                            <button type="submit" class=" btn btn-secondary float-right d-inline">Reset Defaults</button>
                        </form>
                        
                    
                    </div>



                </div> 

            </div>

            <div class="col-lg-3 order-3 order-lg-3">
            </div>



        </div>


        <div class="modal fade" id="matrix-preview-modal" tabindex="-1" role="dialog" aria-labelledby="matrix-preview-modal-l" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="matrix-preview-modal-title">LED Matrix Preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            
                    <div class="modal-body d-flex align-items-center justify-content-center" id="grid-div">
                        <canvas id='led-matrix-grid'></canvas>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <!--<button type="button" class="btn btn-primary" id="modal-ok-btn">OK</button>-->
                    </div>
                </div>
            </div>
        </div>
	</section>

{% endblock main_content %}