{% extends "base.html" %}



{% block head %}
    <title> LED Matrix | Home </title>
{% endblock head %}


{% block main_content %}


	<section class="main-section-content mt-4">
		<div class="container">

            
            <div class=" ">
			    <div class="title-author-drawing text-center ">
                    <h2> Now Showing </h2>
                    <h1 id="drawing-name-text">n/a</h1>
                    <h3 id="drawing-author-text">By: n/a</h3>
                </div>
		        <div class=" d-flex align-items-center justify-content-center order-2 " id="grid-div"><canvas class="" id='led-matrix-grid'></canvas></div>
            </div>
            
    

            <div class="row mt-4">

                {% if not user.is_authenticated %}
                
                
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create Your Own</h5>
                            <p class="card-text">Want to have your drawing shown create an account or log in if you alrady have one.</p>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#user-login-modal" >Login</a>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#user-register-modal">Create account</a>
                        </div>
                    </div>
                </div>

                {% else %}

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Create Your Own</h5>
                            <p class="card-text">Want to have your drawing shown start by creating something.</p>
                            <a class="btn btn-primary" data-toggle="modal" data-target="#user-login-modal" >Start Creating!</a>
                            
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>

		</div>


	</section>

{% endblock main_content %}