{% extends "base.html" %}

{% block head %}
    <title> LED Matrix | Matrix Draw </title>
{% endblock head %}


{% block main_content %}

	<section class="main-section-content mt-4">
		<div class="row">

			
			<div class="col-lg-3 order-3 order-lg-1">

				<div class="container">

					<h4 class="text-center ">Saved Sketches</h4>
					<div class="card  flex-column" >
					
  						<div class="card-header text-center new-sketch">
    						New Sketch <i class="fas fa-plus"></i>
  						</div>

  						<ul class="list-group list-group-flush">
						  	
							<li class="list-group-item">
						  		<div class="d-flex align-items-center">
								  	
                                	<p class="  flex-grow-1" id="sketch-name">abcdefghijklmno</p>
									
                                	<button type="button" class=" btn btn-primary btn-sm" id="load-btn">Load</button>
                            	</div>
							</li>

  						</ul>

					</div>

				</div>

			</div>

			<div class="col-lg-6 order-1 order-lg-2 ">
				
				
					<div class="row">
						<div class="col-lg-10 "> 
							<div class="d-flex align-items-center justify-content-center" id="grid-div"><canvas class="" id='led-matrix-grid'></canvas></div> 
						</div>
						
						<div class="col-lg-2  pl-1"> 
						
							<h4 class="text-center">Toolbox</h4>

							<ul class="toolbox mt-3 mt-lg-0 ">
  								<li class="active" id="color">
									<i class="fas fa-palette"></i> Color
								</li>
								
								<li class="toolbox-item" id="color-all-blank">
									<i class="fas fa-fill-drip"></i> Color all blank boxes
								</li>
								
								<li class="toolbox-item" id="color-all">
									<i class="fas fa-paint-roller"></i> Color all boxes
								</li>
  								
								<li class="toolbox-item" id="add-effects">
									<i class="fas fa-vector-square"></i> Add effects
								</li>
								
								<li class="toolbox-item" id="eraser">
									<i class="fas fa-eraser"></i> Eraser
								</li>
								
								<li class="toolbox-item" id="clear-all">
									<i class="fas fa-border-all"></i> Clear Matrix
								</li>
							</ul>

							<div class=" mt-5  mb-5 mb-lg-1 text-center">
								<button type="button" class="btn btn-primary btn-sm" id="save-btn">Save</button>
  								<button type="button" class="btn btn-danger btn-sm" id="delete-btn">Delete</button>
								  
							</div>
						
						</div>

					</div>
				
			</div>


			<div class="col-lg-3 order-2 order-lg-3">
				<div class="container color-info">
					<h4 class="text-center ">Color Picker</h4>
					<div  class="d-flex align-items-center justify-content-center" id="color-picker"></div>
					<div  class="d-flex align-items-center justify-content-center" id="reference-div"></div>
				</div>
			</div>


		</div>
	</section>

{% endblock main_content %}