{% extends "base.html" %}



{% block head %}
    <title> LED Matrix | Matrix Draw </title>
{% endblock head %}


{% block main_content %}

	<section class="main-section-content mt-4">
		<div class="row">

			
			<div class="col-lg-3 order-3 order-lg-1">
				{% if user.is_authenticated %}
				
				
				
				<div class="container" >

					<h4 class="text-center ">Saved Drawings</h4>
					<div class="card  flex-column" >
					
  						<div class="card-header text-center" id="new-drawing" data-toggle="modal" data-target="#new-drawing-modal">
    						New Drawing <i class="fas fa-plus"></i>
  						</div>

  						<ul class="list-group list-group-flush" id="saved-drawings-list">
						  	

							{% for drawing in drawings %}
							<li class="list-group-item drawing-list-item">
						  		<div class="d-flex align-items-center">
								  	
                                	<p class="flex-grow-1 drawing-name">{{ drawing.drawing_name }}</p>
									
									<form method="GET" class="load-drawing-form" data-handle-fetch-drawing-url="{% url "fetch_drawing_data" %}" >
										{% csrf_token %}
										<input type="hidden" class="form-control" id="drawing-id" name="drawing" value="{{ drawing.id }}">
                                		<button type="submit" class="load-btn d-flex align-items-center justify-content-center btn btn-primary btn-sm">Load</button>
                                	</form>

                            	</div>
							</li>
							{% endfor %}

  						</ul>

					</div>

				</div>
				{% endif %}

			</div>

			<div class="col-lg-6 order-1 order-lg-2 ">
				
				
					<div class="row">
						
						<div class="col-lg-10 ">
							<div class="d-flex align-items-center justify-content-center" id="grid-div">
								<canvas class="" id='led-matrix-grid'></canvas>
							</div> 
						</div>
						
						
						
						
						<div class="col-lg-2  pl-1">
						
						
						
							<h4 class="text-center">Toolbox</h4>

							<ul class="toolbox mt-3 mt-lg-0 ">
  								<li class="active" id="color">
									<i class="fas fa-palette"></i> Color
								</li>
								
								<li class="toolbox-item" id="color-all-blank">
									<i class="fas fa-fill-drip"></i> Color all blank boxes
								</li>
								
								<li class="toolbox-item" id="color-all">
									<i class="fas fa-paint-roller"></i> Color all boxes
								</li>
  								
								<li class="toolbox-item" id="add-effects">
									<i class="fas fa-vector-square"></i> Add effects
								</li>
								
								<li class="toolbox-item" id="eraser">
									<i class="fas fa-eraser"></i> Eraser
								</li>
								
								<li class="toolbox-item" id="clear-all">
									<i class="fas fa-border-all"></i> Clear Matrix
								</li>
							</ul>
							
							<div class=" d-none d-md-block mt-3  mb-5 mb-lg-1 text-center">
								
								{% if user.is_authenticated %}
								<form method="POST" id="save-drawing-form" data-save-drawing-url="{% url "save_drawing"  %}">
									{% csrf_token %}	
									
									{{ save_form.drawing_id }}
									{{ save_form.new_drawing_data }}
									<button type="submit" class="btn btn-primary btn-sm" id="save-btn">Save</button>
								</form>

								<form method="POST" id="submit-drawing-form" data-submit-drawing-url="{% url "submit_drawing" %}">
									{% csrf_token %}
									{{ submit_form.drawing_id }}
									<button type="submit" class="btn btn-success btn-sm" id="submit-to-led-btn">Submit to LED Matrix</button>
								</form>
								
								<form method="POST" id="delete-drawing-form" data-delete-drawing-url="{% url "delete_drawing" %}" >
									{% csrf_token %}
									{{ delete_form.drawing_id }}
									<button type="submit" class="btn btn-danger btn-sm mt-5" id="delete-btn">Delete</button>
								</form>
								{% else %}
								<p>Want to save this sketch login/register <a  href="" data-toggle="modal" data-target="#user-login-modal">here!</a></p>
								{% endif %}
								  
							</div>
							
						
						</div>
						

					</div>
				
			</div>


			<div class="col-lg-3 order-2 order-lg-3">
				<div class="container color-info">
					<h4 class="text-center ">Color Picker</h4>
					<div  class="d-flex align-items-center justify-content-center" id="color-picker"></div>
				</div>
				<div class="d-flex align-items-center justify-content-center mt-4"><h2 id="color-text">Color = <span id="color-hex">#FFFFFF</span></h2></div>
				<!--<div class="d-flex align-items-center justify-content-center ml-4"><p >Learn more about how computers represent color <a href="#">here</a></p></div>-->
				
			</div>


		</div>

		{% if user.is_authenticated %}
		
		
		
		<div class="modal fade" id="new-drawing-modal" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" id="test" role="document">
					<div class="modal-content">

						<div class="modal-header">
						
							<h4 class="modal-title"><i class="fas fa-plus-square"></i> Name This Drawing</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						</div>

						<div class="modal-body">
							<form  method="POST" data-create-drawing-url="{% url "new_drawing"%}" id="new-drawing-form">
								{% csrf_token %}
								<fieldset class="form-group">
									<div class="input-group">
										{{ new_drawing_form.drawing_data }}
										{{ new_drawing_form.drawing_name }}
										<button class="btn btn-primary" type="submit">Create!</button>
									</div>
									
								</fieldset>
							</form>             

						</div>

					</div>
				</div>
			</div>
		</div>
		{% endif %}
	</section>

{% endblock main_content %}