#myCanvas {
    border: 1px solid black;
    border-style: solid;
    background-color: gray;
    position: relative;
    left: 50px;
}

body {
    background: lightgreen;
}

canvas {
    background: #ffffff;
    border: 5px solid black;
}

.debug-box {
    background: rgba(0, 0, 255, 0.7);
    border: 20px, solid, rgba(255, 0, 0, 0.3);
    position: absolute;
    z-index: 9;
}

.debug-box:hover {
    cursor: move;
}

.debug-box p {
    font-size: 13px;
}