/**
 * Author: LEDMatrix Team - 2019
 * Description: Originally created for Alden schools
 * 
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this 
 * file, You can obtain one at https://mozilla.org/MPL/2.0/ .
 * 
 * */

body {
    /* background: lightgreen; */
    background-color: #e8e8e8;
    /* position: relative;
    min-height: 100vh; */
}


/* Saved sketches list*/


/* #sketch-name {
    float: left;
}

#load-btn {
    float: right;
} */


/* Canvas for LED Matrix */

canvas {
    background: #ffffff;
    border: 5px solid black;
    /* width: 100%; */
    /* position: relative; */
}


/* Debug Box */

.debug-box {
    background: rgba(0, 0, 255, 0.7);
    border: 20px, solid, rgba(255, 0, 0, 0.3);
    position: absolute;
    z-index: 9;
}

.debug-box:hover {
    cursor: move;
}

.debug-box p {
    font-size: 13px;
}


/* saved drawings */

#saved-drawings-list {
    overflow-y: scroll;
    max-height: calc(125vh - 9rem);
}

#new-drawing:hover {
    cursor: pointer;
}


/* Toolbox */

.toolbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* width: 200px; */
    background-color: #f1f1f1;
    border: 1px solid #555;
}

.toolbox li {
    text-align: center;
    border-bottom: 1px solid #555;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.toolbox li:last-child {
    border-bottom: none;
}

.toolbox li.active {
    background-color: #4CAF50;
    color: white;
}

.toolbox li:hover {
    cursor: pointer;
}

.toolbox li:hover:not(.active) {
    background-color: #555;
    color: white;
}


/* admin options */

#admin-options-list>li:hover {
    cursor: pointer;
}


/* Page footer */


/* .page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
} */