{% extends "base.html" %}   
   
{% block head %}
    <title> LED Matrix | Admin Login </title>
{% endblock head %}

   {% block user_login_register %}{% endblock user_login_register %}
   
   {% block main_content %}
   
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-unlock-alt"></i> Admin Login</h4>
                </div>

                <div class="modal-body">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            
                            {{ form.acct_name.label_tag }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fa fa-user"></i><span>
                                </div>
                                {{ form.acct_name }}
                            </div>
                        </fieldset>

                        <fieldset class="form-group">
                            
                            {{ form.password.label_tag }}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" ><i class="fa fa-asterisk"></i><span>
                                </div>
                                {{ form.password }}
                            </div>
                        </fieldset>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" value="login">Login</button>
                        </div>
                    
                    </form>               

                </div>

            </div>
        </div>
 {% endblock main_content %}